.profile {
    display: flex;
    align-items: center;
    gap: 15px;
    img {
        height: 45px;
        width: 45px;
        border-radius: 50%;
    }
    a:-webkit-any-link {
        font-size: 18px;
        color: black;
        cursor: pointer;
        text-decoration: none;
    }
}